/**
 * Version: 1.1
 * Contain 27 icons
 */
 
@font-face {
  font-family: 'wpblockicons';
  src:  url('../fonts/wpblockicons.eot?oo5qdm');
  src:  url('../fonts/wpblockicons.eot?oo5qdm#iefix') format('embedded-opentype'),
    url('../fonts/wpblockicons.ttf?oo5qdm') format('truetype'),
    url('../fonts/wpblockicons.woff?oo5qdm') format('woff'),
    url('../fonts/wpblockicons.svg?oo5qdm#wpblockicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.wpblockicons {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'wpblockicons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wpblockicons-button-pro::before {
  content: "\e900";
  color: #555d66;
}
.wpblockicons-clip-pics::before {
  content: "\e919";
  color: #555d66;
}
.wpblockicons-clip-text::before {
  content: "\e91a";
  color: #555d66;
}
.wpblockicons-countdown::before {
  content: "\e901";
  color: #555d66;
}
.wpblockicons-grids::before {
  content: "\e902";
  color: #555d66;
}
.wpblockicons-inline-buttons::before {
  content: "\e903";
  color: #555d66;
}
.wpblockicons-maps::before {
  content: "\e904";
  color: #555d66;
}
.wpblockicons-notice-pro::before {
  content: "\e905";
  color: #555d66;
}
.wpblockicons-portfolio::before {
  content: "\e906";
  color: #555d66;
}
.wpblockicons-progress-bar::before {
  content: "\e907";
  color: #555d66;
}
.wpblockicons-section::before {
  content: "\e908";
  color: #555d66;
}
.wpblockicons-slide::before {
  content: "\e909";
  color: #555d66;
}
.wpblockicons-visual-notes::before {
  content: "\e90a";
  color: #555d66;
}
.wpblockicons-advertisement::before {
  content: "\e90b";
}
.wpblockicons-blockquote::before {
  content: "\e90c";
}
.wpblockicons-call-to-action::before {
  content: "\e90d";
}
.wpblockicons-counter::before {
  content: "\e90e";
}
.wpblockicons-drop-cap::before {
  content: "\e90f";
}
.wpblockicons-icon-box::before {
  content: "\e910";
}
.wpblockicons-icon-boxes::before {
  content: "\e911";
}
.wpblockicons-icon::before,
.wpblockicons-icons::before {
  content: "\e912";
}
.wpblockicons-login-box::before {
  content: "\e913";
}
.wpblockicons-notice::before {
  content: "\e914";
}
.wpblockicons-share-it::before {
  content: "\e915";
}
.wpblockicons-tabs::before {
  content: "\e916";
}
.wpblockicons-testimonial::before {
  content: "\e917";
}
.wpblockicons-accordion-lite::before,
.wpblockicons-accordion::before {
  content: "\e918";
}
