body{
	width: 100%;
	/*overflow-x: hidden;*/
}

.wp-block-pack-section{
	padding: 60px 28px;
	position: relative;
	box-sizing: border-box;
	/*overflow: hidden;*/
}
.wp-block-pack-section.full {
	border-left: none;
	border-right: none;
}
.wp-block-pack-section.full-view-height {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.wp-block-pack-section .wp-block-pack-section-content-wrap.content-inherit,
.wp-block-pack-section .wp-block-pack-section-content-wrap.content-custom {
	margin: 0 auto;
}
.wp-block-pack-section .wp-block-pack-section-content-wrap.content-custom {
	max-width: 640px;
}
.wp-block-pack-section .wp-block-pack-section-gradient-background-wrap,
.wp-block-pack-section .wp-block-pack-section-video-background-wrap {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	overflow: hidden;
}
.wp-block-pack-section .wp-block-pack-section-video-background-wrap video {
	position: absolute;
	object-fit: cover;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	max-width: unset;
	max-height: -webkit-fill-available;
	z-index: 0;
}
.wp-block-pack-section .wp-block-pack-section-video-background-wrap .video-overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	z-index: 0;
}
.wp-block-pack-section .wp-block-pack-section-video-overlay-wrap {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	z-index: 5;
}
.wp-block-pack-section .image-overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	z-index: 0;
}
.wp-block-pack-section .wp-block-pack-section-content-wrap {
	z-index: 10;
	width: 100%;
	height: 100%;
	position: relative;
}
.wp-block-pack-section .wp-block-pack-section-content-wrap>* {
	margin: 1.8rem 0;
}
.wp-block-pack-section .wp-block-pack-section-content-wrap > :first-child {
	margin-top: 0;
}
.wp-block-pack-section .wp-block-pack-section-content-wrap > :last-child {
	margin-bottom: 0;
}

.wp-block-pack-notice{
	padding: 20px 30px;
	color: #f7f7f7;
}
.wp-block-wp-block-pack-notice.with-close-button .wp-block-pack-notice{
	padding-right: 60px;
}
.wp-block-wp-block-pack-notice{
	position: relative;
}
.wp-block-wp-block-pack-notice .closebtn{
	display: none;
}
.wp-block-wp-block-pack-notice.with-close-button .closebtn{
	display: block;
	position: absolute;
	right: 25px;
	top: 50%;
	transform: translateY(-50%);
}
.wp-block-pack-notice.notice-info{
	background-color: #2196F3; 
}
.wp-block-pack-notice.notice-dang{
	background-color: #f44336;
}
.wp-block-pack-notice.notice-succ{
	background-color: #4CAF50;
}
.wp-block-pack-notice.notice-warn{
	background-color: #ff9800;
}
.entry-content .wp-block-pack-notice a{
	color: #fff;
	box-shadow: inset 0 -1px 0 #fff;
}
.entry-content .wp-block-pack-notice a:hover{
	color: #fff;
	box-shadow: inset 0 -2px 0 #fff;
}
.align-undefined,
.align-left{
	text-align: left;
}
.align-center{
	text-align: center;
}
.align-right{
	text-align: right;
}
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.wp-block-pack-just-icon {
	padding: 0;
	margin: 1em 0;
}
/* Icon Size */

.size-xs svg.dashicon{
	width: 0.75em;
	height: 0.75em;
}
.size-sm svg.dashicon{
	width: 0.875em;
	height: 0.875em;
}
.size-1x svg.dashicon{
	width: 1em;
	height: 1em;
}
.size-lg svg.dashicon{
	width: 1.33333em;
	height: 1.33333em;
}
.size-2x svg.dashicon{
	width: 2em;
	height: 2em;
}
.size-3x svg.dashicon{
	width: 3em;
	height: 3em;
}
.size-4x svg.dashicon{
	width: 4em;
	height: 4em;
}
.size-5x svg.dashicon{
	width: 5em;
	height: 5em;
}
.size-6x svg.dashicon{
	width: 6em;
	height: 6em;
}
.size-7x svg.dashicon{
	width: 7em;
	height: 7em;
}
.size-8x svg.dashicon{
	width: 8em;
	height: 8em;
}
.size-9x svg.dashicon{
	width: 9em;
	height: 9em;
}
.size-10x svg.dashicon{
	width: 10em;
	height: 10em;
}
.wp-block-pack-icon .icon-display.align-left {
	text-align: left;
}
.wp-block-pack-icon .icon-display.align-center {
	text-align: center;
}
.wp-block-pack-icon .icon-display.align-right {
	text-align: right;
}
.icon-display{
	padding: 0;
	margin: 0;
	line-height: 0;
}
.icon-display svg{
	fill: inherit;
	color: inherit;
}

/*Pro Button Block*/
.entry .entry-content .wp-block-pack-pro-button,
.wp-block-pack-pro-button{
	cursor: pointer;
	line-height: 1.8em;
	display: inline-block;
	text-decoration: none;
	margin: 1.8rem 0;
}



/*Blockquote*/

[id^="blockquote"] {
	margin: 1.8rem 0;
}
blockquote.wp-block-pack-blockquote{
	margin: 0;
	padding: 1.5em 1.5em 2em 2em;
	position: relative;
	border: none;
}
blockquote.wp-block-pack-blockquote.quote-align-left{
	text-align: left
}
blockquote.wp-block-pack-blockquote.quote-align-center{
	text-align: center;
}
blockquote.wp-block-pack-blockquote.quote-align-right{
	text-align: right;
}

blockquote.wp-block-pack-blockquote svg.wp-block-pack-quote-icon{
	width: 70px;
	height: 70px;
	fill: #777;
}
blockquote.wp-block-pack-blockquote .wp-block-pack-blockquote-footer{
	display: block;
	position: relative;
	padding-top: 2em;
}
blockquote.wp-block-pack-blockquote .wp-block-pack-blockquote-footer img{
	width: 3.5em;
	height: 3.5em;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	transform: translateY(-0.8em);
	box-shadow: inset 0 0 1em #000000;
}
blockquote.wp-block-pack-blockquote.quote-align-center .wp-block-pack-blockquote-footer img{
	position: static;
	top: 0;
	transform: none;
}
blockquote.wp-block-pack-blockquote.quote-align-right .wp-block-pack-blockquote-footer img{
	right: 0;
}
blockquote.wp-block-pack-blockquote .wp-block-pack-blockquote-author{
	display: block;
	color: #777;
	word-break: keep-all;
}
blockquote.wp-block-pack-blockquote.with-image .wp-block-pack-blockquote-author{
	margin-left: 4.5em;
}
blockquote.wp-block-pack-blockquote.with-image.quote-align-center .wp-block-pack-blockquote-author{
	margin-left: 0;
}
blockquote.wp-block-pack-blockquote.with-image.quote-align-right .wp-block-pack-blockquote-author{
	margin-left: 0;
	margin-right: 4.5em;
}
blockquote.wp-block-pack-blockquote .wp-block-pack-blockquote-extra{
	display: block;
	opacity: 0.8;
	font-size: 0.8em;
	word-break: keep-all;
}
blockquote.wp-block-pack-blockquote.with-image .wp-block-pack-blockquote-extra{
	margin-left: 5.6em; /*Bigger cause its parent smaller*/
}
blockquote.wp-block-pack-blockquote.with-image.quote-align-center .wp-block-pack-blockquote-extra{
	margin-left: 0;
}
blockquote.wp-block-pack-blockquote.with-image.quote-align-right .wp-block-pack-blockquote-extra{
	margin-left: 0;
	margin-right: 5.6em;
}

/*Layout Border*/
blockquote.wp-block-pack-blockquote.border{
	padding: 2em;
	border-left: 3px solid #777;
}
blockquote.wp-block-pack-blockquote.border.quote-align-center{
	border-left: none;
	border-top: 3px solid #777;
	border-bottom: 3px solid #777;
}
blockquote.wp-block-pack-blockquote.border.quote-align-right{
	border-left: none;
	border-right: 3px solid #777;
}
blockquote.wp-block-pack-blockquote.border svg.wp-block-pack-quote-icon{
	width: 40px;
	height: 40px;
}

/*Layout Big*/
blockquote.wp-block-pack-blockquote.big.with-big-image{
	width: 70%;
}
blockquote.wp-block-pack-blockquote.big p{
	font-size: 2em;
	line-height: 1.5em;
}
blockquote.wp-block-pack-blockquote.big .wp-block-pack-blockquote-footer{
	padding-top: 1em;
}
blockquote.wp-block-pack-blockquote.big .wp-block-pack-blockquote-footer img{
	transform: translateY(-1.2em);
}
blockquote.wp-block-pack-blockquote.big.quote-align-center .wp-block-pack-blockquote-footer img{
	transform: translateY(0);
}
blockquote.wp-block-pack-blockquote.big.with-big-image .wp-block-pack-blockquote-big-image{
	position: absolute;
	top: 0;
	right: calc((100% / 7) * -3);
	bottom: 0;
	overflow: hidden;
	width: calc( (100% / 7) * 3);
	background-color: #eee;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/*Layout Plain*/
blockquote.wp-block-pack-blockquote.plain{
	padding: 2em;
	text-align: center;
	color: #fff;
	background-color: #444;
}
blockquote.wp-block-pack-blockquote.plain.quote-align-left{
	text-align: left;
}
blockquote.wp-block-pack-blockquote.plain.quote-align-right{
	text-align: right;
}
blockquote.wp-block-pack-blockquote.plain .wp-block-pack-blockquote-footer{
	padding-top: 1em;
}
blockquote.wp-block-pack-blockquote.plain.separator-none .wp-block-pack-blockquote-footer{
	padding-top: 0;
}
blockquote.wp-block-pack-blockquote.plain .wp-block-pack-blockquote-footer::before{
	border-top: 5px dotted #fff;
	display: block;
	content: ' ';
	width: 40px;
	margin: 0.5em auto 0.8em auto;
}
blockquote.wp-block-pack-blockquote.plain.separator-dashed .wp-block-pack-blockquote-footer::before{
	border-top-style: dashed;
}
blockquote.wp-block-pack-blockquote.plain.separator-solid .wp-block-pack-blockquote-footer::before{
	border-top-style: solid;
}
blockquote.wp-block-pack-blockquote.plain.separator-none .wp-block-pack-blockquote-footer::before{
	border-top-style: none;
}
blockquote.wp-block-pack-blockquote.plain.quote-align-left .wp-block-pack-blockquote-footer::before{
	margin-left: 1em;
}
blockquote.wp-block-pack-blockquote.plain.quote-align-right .wp-block-pack-blockquote-footer::before{
	margin-right: 1em;
}
blockquote.wp-block-pack-blockquote.plain .wp-block-pack-blockquote-footer img{
	position: static;
	top: 0;
	transform: none;
	margin-top: 1em;
}
blockquote.wp-block-pack-blockquote.plain.quote-align-left .wp-block-pack-blockquote-footer img{
	position: absolute;
	top: 50%;
	transform: translateY(-0.8em);
	margin-top: 0;
	right: 0;
}
blockquote.wp-block-pack-blockquote.plain.quote-align-right .wp-block-pack-blockquote-footer img{
	position: absolute;
	top: 50%;
	transform: translateY(-0.8em);
	margin-top: 0;
	left: 0;
}
blockquote.wp-block-pack-blockquote.plain .wp-block-pack-blockquote-author{
	font-size: 1.8em;
	color: #fff;
	margin-left: 0;
}
blockquote.wp-block-pack-blockquote.plain.quote-align-left .wp-block-pack-blockquote-author,
blockquote.wp-block-pack-blockquote.plain.quote-align-right .wp-block-pack-blockquote-author{
	margin-left: 0;
	margin-right: 0;
}
blockquote.wp-block-pack-blockquote.plain .wp-block-pack-blockquote-extra{
	margin-left: 0;
}
blockquote.wp-block-pack-blockquote.plain.quote-align-left .wp-block-pack-blockquote-extra,
blockquote.wp-block-pack-blockquote.plain.quote-align-right .wp-block-pack-blockquote-extra{
	margin-left: 0;
	margin-right: 0;
}

/*Layout Dual Tone*/
blockquote.wp-block-pack-blockquote.dual-tone{
	padding: 0;
	text-align: center;
}
blockquote.wp-block-pack-blockquote.dual-tone.quote-align-left{
	text-align: left;
}
blockquote.wp-block-pack-blockquote.dual-tone.quote-align-right{
	text-align: right;
}
blockquote.wp-block-pack-blockquote.dual-tone p{
	padding: 2em;
	color: #fff;
	background-color: #444;
}
blockquote.wp-block-pack-blockquote.dual-tone.with-image p{
	padding-bottom: 2.5em;
}
blockquote.wp-block-pack-blockquote.dual-tone svg.wp-block-pack-quote-icon{
	width: 30px;
	height: 30px;
}
blockquote.wp-block-pack-blockquote.dual-tone.quote-align-left svg.wp-block-pack-quote-icon{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 2em;
}
blockquote.wp-block-pack-blockquote.dual-tone.quote-align-right svg.wp-block-pack-quote-icon{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 2em;
}
blockquote.wp-block-pack-blockquote.dual-tone .wp-block-pack-blockquote-footer{
	padding: 1em 2em;
	background-color: #f7f7f7;
}
blockquote.wp-block-pack-blockquote.dual-tone.with-image .wp-block-pack-blockquote-footer{
	padding-top: 2em;
}
blockquote.wp-block-pack-blockquote.dual-tone .wp-block-pack-blockquote-footer img,
blockquote.wp-block-pack-blockquote.dual-tone.quote-align-left .wp-block-pack-blockquote-footer img,
blockquote.wp-block-pack-blockquote.dual-tone.quote-align-center .wp-block-pack-blockquote-footer img,
blockquote.wp-block-pack-blockquote.dual-tone.quote-align-right .wp-block-pack-blockquote-footer img{
	position: absolute;
	left: 50%;
	top: 0;
	transform: translate(-50%, -2em);
	border: 5px solid #f7f7f7;
}
blockquote.wp-block-pack-blockquote.dual-tone .wp-block-pack-blockquote-author{
	color: #222;
}
blockquote.wp-block-pack-blockquote.dual-tone .wp-block-pack-blockquote-extra{
	opacity: 0.5;
}
blockquote.wp-block-pack-blockquote.dual-tone .wp-block-pack-blockquote-author,
blockquote.wp-block-pack-blockquote.dual-tone .wp-block-pack-blockquote-extra,
blockquote.wp-block-pack-blockquote.dual-tone.quote-align-left .wp-block-pack-blockquote-author,
blockquote.wp-block-pack-blockquote.dual-tone.quote-align-right .wp-block-pack-blockquote-author,
blockquote.wp-block-pack-blockquote.dual-tone.quote-align-left .wp-block-pack-blockquote-extra,
blockquote.wp-block-pack-blockquote.dual-tone.quote-align-right .wp-block-pack-blockquote-extra{
	margin-left: 0;
	margin-right: 0;
}

/*Layout Highlight*/
blockquote.wp-block-pack-blockquote.highlight{
	border: 2px solid #444;
	padding: 0 1.8em 1em 1.8em;
	background-color: #fff;
}
blockquote.wp-block-pack-blockquote.highlight .wp-block-pack-blockquote-title{
	display: block;
}
blockquote.wp-block-pack-blockquote.highlight .wp-block-pack-blockquote-title span{
	display: inline-block;
	background-color: #444;
	color: #fff;
	padding: 0.1em 0.8em;
}
blockquote.wp-block-pack-blockquote.highlight p{
	padding-top: 1em;
}
blockquote.wp-block-pack-blockquote.highlight .wp-block-pack-blockquote-footer{
	padding-top: 0.5em;
}
blockquote.wp-block-pack-blockquote.highlight .wp-block-pack-blockquote-author{
	color: #222;
	font-weight: bold;
	display: inline-block;
	margin-right: 0.8em;
}
blockquote.wp-block-pack-blockquote.highlight .wp-block-pack-blockquote-extra{
	opacity: 0.5;
	display: inline-block;
	margin-right: 0.8em;
}


blockquote.wp-block-pack-blockquote p{
	margin: 0;
	padding: 0px;
}





.advertisement-empty{
	text-align: center;
	border: 3px dashed #ccc;
	color: #777;
	background-color: #eee;
	padding: 20px 0;
	margin: 1.8rem 0;
}
.advertisement-empty span{
	display: block;
	font-size: 0.9em;
	font-style: italic;
}

.wp-block-pack-testimonial{
	padding: 1.8em 40px;
	margin: 1.8rem 0;
	border-radius: 10px;
}
.wp-block-pack-testimonial::after{
	content: '';
	display: block;
	width: 100%;
	height: 0;
	clear: both;
}
.wp-block-pack-testimonial p{
	margin: 10px 0px;
}
.wp-block-pack-testimonial.testimony-center p{
	text-align: center;
}
.wp-block-pack-testimonial.testimony-left p{
	text-align: left;
}
.wp-block-pack-testimonial.testimony-right p{
	text-align: right;
}
.wp-block-pack-testimonial .testimonial-author{
	position: relative;
    display: block;
    margin-bottom: 20px;
}
.wp-block-pack-testimonial.cite-center .testimonial-author{
	width: max-content;
	margin: 0 auto 20px auto;
}
.wp-block-pack-testimonial.cite-right .testimonial-author{
	text-align: right;
}
.wp-block-pack-testimonial .testimonial-author::after{
	content: '';
	display: block;
	width: 100%;
	height: 0;
	clear: both;
}
.wp-block-pack-testimonial .testimonial-author .avatar{
	z-index: 1!important;
	display: block;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #c8d0da;
	width: 55px;
	height: 55px;
	padding: 0;
	margin: 0;
	top: 0;
	overflow: hidden;
	border: none;
	outline: none;
	position: absolute;
	border-radius: 50%;
}
.wp-block-pack-testimonial.cite-center .testimonial-author.without-avatar{
	text-align: center;
}
.wp-block-pack-testimonial.cite-right .testimonial-author .avatar{
	right: 0;
}
.wp-block-pack-testimonial .testimonial-author .author-name{
	font-weight: bold;
}
.wp-block-pack-testimonial .testimonial-author .author-name,
.wp-block-pack-testimonial .testimonial-author .author-job{
	display: block;
	margin-left: 70px;
}
.wp-block-pack-testimonial .testimonial-author.without-avatar .author-name,
.wp-block-pack-testimonial .testimonial-author.without-avatar .author-job{
	margin-left: 0;
}
.wp-block-pack-testimonial.cite-right .testimonial-author .author-name,
.wp-block-pack-testimonial.cite-right .testimonial-author .author-job{
	margin-left: 0px;
	margin-right: 70px;
}
.wp-block-pack-testimonial.cite-right .testimonial-author.without-avatar .author-name,
.wp-block-pack-testimonial.cite-right .testimonial-author.without-avatar .author-job{
	margin-right: 0;
}



/* Accordion */

.wp-block-pack-accordion-lite .accordion-panel{
	overflow: hidden;
	margin-bottom: 10px;
}
.wp-block-pack-accordion-lite .accordion-panel.open{
}
.wp-block-pack-accordion-lite .accordion-panel .accordion-title{
	border-radius: 5px;
	padding: 1.4rem 30px;
	background-color: rgba(0,0,0,0.1);
	cursor: pointer;
}
.wp-block-pack-accordion-lite .accordion-panel.open .accordion-title{
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}
.wp-block-pack-accordion-lite .accordion-panel .accordion-content{
	padding: 0;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	border-bottom: 1px solid transparent;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	max-height: 0;
	overflow: hidden;
    transition: all 0.4s ease;
}
.wp-block-pack-accordion-lite .accordion-panel.open .accordion-content{
	border-color: #ddd;
	max-height: 300px;
    transition: all 0.6s ease;
}
.wp-block-pack-accordion-lite .accordion-panel .accordion-content .accordion-content-wrap{
	padding: 1.8rem 30px 1rem 30px;
}
.wp-block-pack-accordion-lite .accordion-panel .accordion-content .accordion-content-wrap p{
	margin-top: 0;
}
.wp-block-pack-accordion-lite.title-left .accordion-panel .accordion-title,
.wp-block-pack-accordion-lite.content-left .accordion-panel .accordion-content{
	text-align: left;
}
.wp-block-pack-accordion-lite.title-center .accordion-panel .accordion-title,
.wp-block-pack-accordion-lite.content-center .accordion-panel .accordion-content{
	text-align: center;
}
.wp-block-pack-accordion-lite.title-right .accordion-panel .accordion-title,
.wp-block-pack-accordion-lite.content-right .accordion-panel .accordion-content{
	text-align: right;
}

/* Tabs */
.wp-block-pack-tabs .tabs-header{
	border-bottom: 2px solid rgba(0,0,0,0.1);
	z-index: 10;
	margin: 1.5em 0;
	padding-left: 0;
}
.wp-block-pack-tabs .tabs-header.is-buttoned,
.wp-block-pack-tabs .tabs-header.is-solid,
.wp-block-pack-tabs .tabs-header.is-light{
	border-bottom: none;
}
.wp-block-pack-tabs .tabs-header.align-left{
	text-align: left;
}
.wp-block-pack-tabs .tabs-header.align-center{
	text-align: center;
}
.wp-block-pack-tabs .tabs-header.align-right{
	text-align: right;
}
.wp-block-pack-tabs .tabs-header li.tab-title{
	display: inline-block;
	color: #0073aa;
	padding: 12px 25px; 
	margin: 0 5px 0 0;
	border: 2px solid transparent;
	transform: translateY(0px);
	cursor: pointer;
	vertical-align: bottom;
	line-height: 1.8rem;
}
.wp-block-pack-tabs .tabs-header.is-buttoned li.tab-title{
	border: none;
	transform: translateY(0px);
	border-radius: 50px;
}
.wp-block-pack-tabs .tabs-header.is-solid li.tab-title{
	border: none;
	transform: translateY(0px);
	margin: 0;
	background-color: #eee;
}
.wp-block-pack-tabs .tabs-header.is-light li.tab-title{
	border: none;
	color: #777;
	transform: translateY(0px);
}
.wp-block-pack-tabs .tabs-header li.tab-title:hover{
	color: #d54e21;
	background-color: rgba(0,0,0,0.04);
}
.wp-block-pack-tabs .tabs-header.is-light li.tab-title:hover{
	background-color: transparent;
}
.wp-block-pack-tabs .tabs-header li.tab-title.active{
	/*border-color: #e2e4e7; */
	/*border-bottom-color: transparent;*/
	background-color: rgba(0,0,0,0.1);
}
.wp-block-pack-tabs .tabs-header.is-buttoned li.tab-title.active{
	border: none;
	background-color: #999999;
	color: white;
}
.wp-block-pack-tabs .tabs-header.is-solid li.tab-title.active{
	border: none;
	background-color: #999999;
	color: white;
}
.wp-block-pack-tabs .tabs-header.is-light li.tab-title.active{
	border: none;
	color: #0073aa;
	background-color: transparent;
}
.wp-block-pack-tabs .tabs-content{
	padding: 0px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	margin: 1.5em 0;
}
.wp-block-pack-tabs .tabs .tabs-content .wp-block-pack-tab,
.wp-block-pack-tabs .tabs .tabs-content .wp-block-pack-tabs .tabs .tabs-content .wp-block-pack-tab,
.wp-block-pack-tabs .tabs .tabs-content .wp-block-pack-tabs .tabs .tabs-content .wp-block-pack-tabs .tabs .tabs-content .wp-block-pack-tab,
.wp-block-pack-tabs .tabs .tabs-content .wp-block-pack-tabs .tabs .tabs-content .wp-block-pack-tabs .tabs .tabs-content .wp-block-pack-tabs .tabs .tabs-content .wp-block-pack-tab{
	display: none;
}
.wp-block-pack-tabs .tabs.active-1 .tabs-content .wp-block-pack-tab.tab-1,
.wp-block-pack-tabs .tabs.active-2 .tabs-content .wp-block-pack-tab.tab-2,
.wp-block-pack-tabs .tabs.active-3 .tabs-content .wp-block-pack-tab.tab-3,
.wp-block-pack-tabs .tabs.active-4 .tabs-content .wp-block-pack-tab.tab-4,
.wp-block-pack-tabs .tabs.active-5 .tabs-content .wp-block-pack-tab.tab-5,
.wp-block-pack-tabs .tabs .wp-block-pack-tabs .tabs.active-1 .tabs-content .wp-block-pack-tab.tab-1,
.wp-block-pack-tabs .tabs .wp-block-pack-tabs .tabs.active-2 .tabs-content .wp-block-pack-tab.tab-2,
.wp-block-pack-tabs .tabs .wp-block-pack-tabs .tabs.active-3 .tabs-content .wp-block-pack-tab.tab-3,
.wp-block-pack-tabs .tabs .wp-block-pack-tabs .tabs.active-4 .tabs-content .wp-block-pack-tab.tab-4,
.wp-block-pack-tabs .tabs .wp-block-pack-tabs .tabs.active-5 .tabs-content .wp-block-pack-tab.tab-5,
.wp-block-pack-tabs .tabs .wp-block-pack-tabs .tabs .wp-block-pack-tabs .tabs.active-1 .tabs-content .wp-block-pack-tab.tab-1,
.wp-block-pack-tabs .tabs .wp-block-pack-tabs .tabs .wp-block-pack-tabs .tabs.active-2 .tabs-content .wp-block-pack-tab.tab-2,
.wp-block-pack-tabs .tabs .wp-block-pack-tabs .tabs .wp-block-pack-tabs .tabs.active-3 .tabs-content .wp-block-pack-tab.tab-3,
.wp-block-pack-tabs .tabs .wp-block-pack-tabs .tabs .wp-block-pack-tabs .tabs.active-4 .tabs-content .wp-block-pack-tab.tab-4,
.wp-block-pack-tabs .tabs .wp-block-pack-tabs .tabs .wp-block-pack-tabs .tabs.active-5 .tabs-content .wp-block-pack-tab.tab-5,
.wp-block-pack-tabs .tabs .wp-block-pack-tabs .tabs .wp-block-pack-tabs .tabs .tabs-content .wp-block-pack-tabs .tabs.active-1 .tabs-content .wp-block-pack-tab.tab-1,
.wp-block-pack-tabs .tabs .wp-block-pack-tabs .tabs .wp-block-pack-tabs .tabs .tabs-content .wp-block-pack-tabs .tabs.active-2 .tabs-content .wp-block-pack-tab.tab-2,
.wp-block-pack-tabs .tabs .wp-block-pack-tabs .tabs .wp-block-pack-tabs .tabs .tabs-content .wp-block-pack-tabs .tabs.active-3 .tabs-content .wp-block-pack-tab.tab-3,
.wp-block-pack-tabs .tabs .wp-block-pack-tabs .tabs .wp-block-pack-tabs .tabs .tabs-content .wp-block-pack-tabs .tabs.active-4 .tabs-content .wp-block-pack-tab.tab-4,
.wp-block-pack-tabs .tabs .wp-block-pack-tabs .tabs .wp-block-pack-tabs .tabs .tabs-content .wp-block-pack-tabs .tabs.active-5 .tabs-content .wp-block-pack-tab.tab-5{
	display: block;
}


/* Button Pro Block */

[id^="button-pro"] {
	margin: 1.8rem 0;
}
.entry .entry-content .wp-block-pack-button-pro,
.wp-block-pack-button-pro{
	cursor: pointer;
	line-height: 1.8em;
	display: inline-flex;
	background-color: #32373c;
	color: #fff;
	fill: #fff;
	text-decoration: none;
	border-radius: 100px;
	border: 2px solid transparent;
	padding: 10px 25px;
	text-align: left;
	cursor: pointer;
	line-height: 1.8em;
	width: max-content;
}
.entry .entry-content .is-style-outline .wp-block-pack-button-pro,
.is-style-outline .wp-block-pack-button-pro{
	background-color: transparent;
	color: #32373c;
	fill: #32373c;
	border-color: #32373c;
}
.entry .entry-content .is-style-outline .wp-block-pack-button-pro:hover,
.is-style-outline .wp-block-pack-button-pro:hover{
	background-color: transparent;
	color: #32373c;
	fill: #32373c;
	border-color: #32373c;
}
.entry .entry-content .is-style-squared .wp-block-pack-button-pro,
.is-style-squared .wp-block-pack-button-pro{
	border-radius: 0;
}
.entry .entry-content .wp-block-pack-button-pro:hover,
.wp-block-pack-button-pro:hover{
	text-decoration: none;
	box-shadow: none;
	color: #fff;
	fill: #fff;
}
.wp-block-pack-button-pro .button-pro-icon-before,
.wp-block-pack-button-pro .button-pro-text,
.wp-block-pack-button-pro .button-pro-icon-after{
	display: flex;
	flex-direction: column;
	justify-content: center;
	vertical-align: middle;
}
.wp-block-pack-button-pro .button-pro-icon-before{
	margin-right: 0.4em;
}
.wp-block-pack-button-pro .button-pro-icon-after{
	margin-left: 0.4em;
}

/* Call to Action */

.wp-block-pack-cta {
	background-color: #d8ecf5;
	padding: 1em;
	margin: 2em 0;
}
.alignfull.wp-block-pack-cta {
	padding: 1em 1rem;
	width: 100%;
	width: calc( 100vw - 2rem);
}


/* Icon Box */

.wp-block-pack-icon-box > * {
	margin: 1.4rem 0;
}
.wp-block-pack-icon-box > *:first-child {
    margin-top: 0;
}


/* Buttons Pro Block */

.wp-block-pack-inline-block {
	margin: 2em 0;
}
.wp-block-pack-inline-block.float-left>* {
	float: left;
	margin-bottom: 1.8em;
}
.wp-block-pack-inline-block.float-left>*:last-child {
	margin-right: 2em /*!rtl:end:ignore*/;
}
.wp-block-pack-inline-block.float-right>* {
	float: right;
	margin-bottom: 1.8em;
}
.wp-block-pack-inline-block.float-right>*:last-child {
	margin-left: 2em /*!rtl:end:ignore*/;
}
.wp-block-pack-inline-block > * {
	display: inline-flex!important;
	margin: 0;
}
.wp-block-pack-inline-block.float-left>*,
.wp-block-pack-inline-block.float-right>* {
	display: block!important;

}
.wp-block-pack-inline-block.float-left >div>*,
.wp-block-pack-inline-block.float-right >div>* {
	display: inline-flex!important;
	margin: 0 4px;
}

.wp-block-pack-inline-block > style {
	display: none!important;
}


/* Counter */
.wp-block-pack-counter {
	text-align: center;
	display: flex;
	flex-wrap: nowrap;
	margin: 2em 0;
}
.wp-block-pack-counter>.counter-content .wp-block-pack-icon {
	margin-top: 0;
	margin-bottom: 0.5em;
}
.wp-block-pack-counter .icon-display {
	text-align: center;
}
.wp-block-pack-counter .icon-display svg {
	display: inline-block;
}
.wp-block-pack-counter>.counter-content {
	width: 100%;
	padding: 3em 1.5em;
	text-align: center;
	display: flex;
	flex-wrap: nowrap;
}
.wp-block-pack-counter>.counter-content>.wp-block-pack-indivdual-counter {
	display: flex;
	flex-direction: column;
	word-break: break-word;
	flex-grow: 1;
	flex: 1;
	min-width: 0;
	overflow-wrap: break-word;

}
.wp-block-pack-counter>.counter-content>.wp-block-pack-indivdual-counter .individual-counter-number {
	font-size: 2em;
}
.wp-block-pack-counter>.counter-content>.wp-block-pack-indivdual-counter h3.individual-counter-title {
	font-size: 1em;
	margin: 0;
}

/*Drop Cap*/

p.wp-block-pack-drop-cap{
}
p.wp-block-pack-drop-cap.align-left{
	text-align: left;
}
p.wp-block-pack-drop-cap.align-center{
	text-align: center;
}
p.wp-block-pack-drop-cap.align-right{
	text-align: right;
}
p.wp-block-pack-drop-cap.has-background-color{
	padding: 1em 1.5em;
	color: #fff;
}
p.wp-block-pack-drop-cap.has-text-color{
	color: unset;
}
p.wp-block-pack-drop-cap.has-small-font-size {
	font-size: 0.85em;
}
p.wp-block-pack-drop-cap.has-medium-font-size {
	font-size: 1.3em;
}
p.wp-block-pack-drop-cap.has-large-font-size {
	font-size: 1.7em;
}
p.wp-block-pack-drop-cap.has-huge-font-size {
	font-size: 2.3em;
}
p.wp-block-pack-drop-cap::first-letter {
	float: left;
	font-size: 4em;
	line-height: 0.8em;
	margin-right: .1em;
	padding-top: 0.05em;
	padding-bottom: 0;
	padding-right: 0;
	padding-left: 0;
}
p.wp-block-pack-drop-cap.has-box-drop-cap::first-letter {
	font-size: 2.9em;
	background-color: #333;
	padding: calc(0.07em + 4px) calc(0.1em + 4px) 4px calc(0.1em + 4px);
	margin-right: .2em;
	color: white;
	line-height: 1em;
}
p.wp-block-pack-drop-cap.has-box-drop-cap.has-background-color::first-letter {
	background-color: white;
}
p.wp-block-pack-drop-cap.has-box-stroke-drop-cap::first-letter {
	font-size: 2.9em;
	border: 4px solid #333;
	padding: 0.07em 0.1em 0 0.1em;
	margin-right: .2em;
	line-height: 1em;
}
p.wp-block-pack-drop-cap.has-box-stroke-drop-cap.has-background-color::first-letter {
	border-color: #fff;
}
p.wp-block-pack-drop-cap.has-letter-shadow-drop-cap::first-letter {
	text-shadow:
		-1px -1px 0 white,
		-1px 1px 0 white,
		1px -1px 0 white,
		1px 1px 0 white,
		4px 4px 0 #333;
}
p.wp-block-pack-drop-cap.has-letter-shadow-drop-cap.has-background-color::first-letter {
	text-shadow:
		-1px -1px 0 #333,
		-1px 1px 0 #333,
		1px -1px 0 #333,
		1px 1px 0 #333,
		4px 4px 0 white;
}

p.wp-block-pack-drop-cap.has-small-drop-cap::first-letter {
	font-size: 2em;
}
p.wp-block-pack-drop-cap.has-box-drop-cap.has-small-drop-cap::first-letter,
p.wp-block-pack-drop-cap.has-box-stroke-drop-cap.has-small-drop-cap::first-letter {
	font-size: 1.3em;
}
p.wp-block-pack-drop-cap.has-medium-drop-cap::first-letter {
	font-size: 6em;
}
p.wp-block-pack-drop-cap.has-box-drop-cap.has-medium-drop-cap::first-letter,
p.wp-block-pack-drop-cap.has-box-stroke-drop-cap.has-medium-drop-cap::first-letter {
	font-size: 4.6em;
}
p.wp-block-pack-drop-cap.has-large-drop-cap::first-letter {
	font-size: 8em;
}
p.wp-block-pack-drop-cap.has-box-drop-cap.has-large-drop-cap::first-letter,
p.wp-block-pack-drop-cap.has-box-stroke-drop-cap.has-large-drop-cap::first-letter {
	font-size: 6.3em;
}
p.wp-block-pack-drop-cap.has-huge-drop-cap::first-letter {
	font-size: 10em;
}
p.wp-block-pack-drop-cap.has-box-drop-cap.has-huge-drop-cap::first-letter,
p.wp-block-pack-drop-cap.has-box-stroke-drop-cap.has-huge-drop-cap::first-letter {
	font-size: 7.9em;
}
p.wp-block-pack-drop-cap::after{
	display: block;
	width: 100%;
	content: '';
	clear: both;
}
